main > .container {
  padding: 70px 15px 20px;
}

.footer {
  background-color: #f5f5f5;
  font-size: .9em;
  height: 60px;

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */

a {
  &.asc:after, &.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
  }

  &.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
  }

  &.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
  }
}

.grid-view {
  th, td:last-child {
    white-space: nowrap;
  }

  .filters {
    input, select {
      min-width: 50px;
    }
  }
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */

.nav {
  li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
  }

  > li > form > button.logout {
    &:focus, &:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.75);
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 0;
  }
}


// CSS3 Transitions only after page load(.page-loading class added to body tag and remove with JS on page load)
.page-loading * {
  transition: none !important;
}

// Base
.page-loader {
  background: #ffffff9c;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1080;
  display: none;

  .page-bg-transparent & {
    background: rgba(255, 255, 255, 0.6);
  }

  .page-loading & {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .w-50px {
    width: 50px;
  }
  .h-50px {
    height: 50px;
  }



}
